@using System.Web.UI.WebControls
@using fReader.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Feed List</title>
</head>
<body>
    @foreach (Feed feed in Model) {
        <div>
            @Html.ActionLink(feed.name, "Details", "Feeds", new { Id = feed.id }, null)
        </div>
    }
</body>
</html>
